body, h1 {
    font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%;
}

.bgimg {
    background-image: url('/static/images/bg.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

footer {
    max-height: 10%;
    background-color: rgb(59, 59, 59);
    text-align: center;
}
