{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Welcome to Mortal GOLD Game!</h2>
    <p>Experience the ultimate gaming adventure that will keep you on the edge of your seat!</p>
    <p>Are you ready to embark on a thrilling journey filled with action, mystery, and challenges?</p>
    <p>Get ready to immerse yourself in an epic world of fantasy and conquer formidable foes.</p>
    <p>Our team of developers has been hard at work to bring you an unforgettable gaming experience.</p>
    <p>As we're in the final stages of development, we invite you to try out our demo version.</p>
    <p>Click the link below to download the demo version from our official GitHub repository:</p>
    <a href="https://github.com/RenaldasZ/MortalGold">Download Demo Version</a>
    <p>Join us and be among the first to witness the birth of a legendary game that will redefine the gaming industry!</p>
    <p>Stay tuned for updates and follow us on social media for exciting announcements and exclusive content.</p>
    <p>Don't miss your chance to be a part of gaming history!</p>
    <p>See you in the world of Mortal GOLD!</p>
</div>
{% endblock %}