{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <pre>
            <code class="language-python">
            Instructions: How to Play Mortal Gold

                Choose Your Character: Select either Vladimir Putin or Elon Musk, each with unique moves and abilities.
                
                Controls:
                
                Movement: Use 'A' and 'D' keys to move left and right.
                Jump: Press 'W' key to make your character jump.
                Attack: 'R' key for primary attack, 'T' key for secondary attack.
                Block: Press 'Q' key to block incoming attacks.
                Special Moves: Discover character-specific special moves and combos.
                
                Gameplay:
                
                Battle Modes: Play single player against challenging opponents or compete with friends in local multiplayer.
                Health Management: Monitor your health bar and strategize your attacks and defenses.
                Execute combos, unleash special attacks, and time your moves for maximum impact.
                
                Winning the Battle:
                
                Deplete your opponent's health bar while defending your own.
                Utilize offensive and defensive strategies, land combos, and perform well-timed counter-attacks.
                
                Game Progression:
                
                Advance through levels and unlock new arenas, characters, and abilities.
                
                Enjoy the Experience:
                
                Immerse yourself in stunning visuals, detailed animations, and an engaging soundtrack.
                Get ready to fight, master your character's skills, and emerge victorious in Mortal Gold!
            </code>
        </pre>
    </div>
{% endblock %}
