<!DOCTYPE html>
{% load static %}
<html class="w3-animate-opacity" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mortal GOLD</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="header">
        <h1 class="title"><a href="/">MORTAL GOLD</a></h1>
        <p class="subtitle">Multiplayer fighting game. Created by Gold team</p>
        
        <nav class="navigation">
          <a href="/">Home</a>
          <a href="/htp">How to play</a>
          <a href="/downloads">Downloads</a>
          <a href="/tops">Top Players</a>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 GOLDTEAM</p>
    </footer>

</body>
</html>
