<!DOCTYPE html>
{% load static %}
<html class="w3-animate-opacity" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mortal GOLD</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="header">
        <h1 class="title w3-animate-top"><a href="/">MORTAL GOLD</a></h1>
        <p class="subtitle w3-animate-top">Multiplayer fighting game. Created by Golden team</p>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/htp">How to play</a>
            <a href="/downloads">Downloads</a>
            <a href="/tops">Top Players</a>
            {% if user.is_authenticated %}
            <!-- User Profile -->
                <a href='{% url 'profile' %}'>{{ user.get_username }}</a>
                <!-- Logout -->
                <a href='{% url 'logout' %}'>Logout</a>
            {% else %}
                <!-- Login -->
                <a href={% url 'login' %}?next={{request.path}}>Login</a>
                <!-- Sign up -->
                <a href={% url 'signup' %}?next={{request.path}}>Sign up</a>
            {% endif %} 
            {% if user.is_authenticated %} 
                  {% if user.is_staff or user.is_superuser %}
                      <!-- Admin -->
                      <a href='{% url 'admin:index' %}'>Admin</a>
                  {% endif %} 
            {% endif %} 
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 GOLDEN TEAM</p>
    </footer>

</body>
</html>
