{% extends 'base.html' %}
{% block title %}Login to {{ block.super }}{% endblock title %}
{% block content %}
{% if form.errors %}
<p class="box box-error">Login error. Please try again.</p>
{% endif %}
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">Log in</button></p>
        </form>
    </div>
    <div class="container">
        <a href="{% url 'password_reset' %}">Forgot password?</a>
        <p>If you do not have an account, please</p>
        <a href="{% url 'signup' %}">sign up</a>.
    </div>
{% endblock content %}